* {
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
}

.box {
  width: 7rem;
  height: 7rem;
  border: 1px solid black;
  border-radius: 5px;
}
